<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      A Propos
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
    <ion-toolbar>
      <ion-title>A Propos de l'application</ion-title>
    </ion-toolbar>
        <p id="ol">Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Quos enim ipsam recusandae, earum deleniti omnis, optio id voluptatem, 
          nihil labore quasi voluptatibus reiciendis iusto delectus non. 
          Quisquam deleniti quibusdam eius.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Eius ipsum porro est deserunt id repudiandae mollitia, amet molestiae aut quaerat
           blanditiis nobis velit praesentium dolores distinctio architecto assumenda nulla ab?
        </p>

</ion-content>
