<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Soutenir l'application
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title></ion-card-title>
      <ion-card-subtitle>Pour nous soutenir,<br>
      Cliquez sur le lien ci-dessous :</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Https://www.notreapplication.com
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <!-- <ion-label>Resources</ion-label> -->
    </ion-list-header>
    



  </ion-list>
</ion-content>