<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Recherche
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-toolbar>
    <ion-title>Résultats de recherche</ion-title>
  </ion-toolbar>

<ion-text color="dark" id="text">
  <h3>METIER : XXXXXXXXXX</h3>
  <h3>SALAIRE : XXXXXX FCFA</h3>
</ion-text>
<hr id="hr"/>


</ion-content>