<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Aide
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-toolbar>
    <ion-title>Comment nous aidez ?</ion-title>
  </ion-toolbar>
  <p id="ol">
<iframe width="460" height="315" id="video" src="https://www.youtube.com/embed/1bGLhdI0lYU" frameborder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
    <div id="btn">
      <ion-button expand="block" fill="outline">Regarder</ion-button>
    </div>


</ion-content>