<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ACCEUIL
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>BIENVENUE SUR GENIE LOG</ion-card-subtitle>
        <ion-card-title>Développé avec Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Notre plateforme est la meilleure.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <!-- <ion-label>Resources</ion-label> -->
      </ion-list-header>
    <!-- <ion-item>
      <ion-label position="floating">METIER OU POSTE</ion-label>
      <ion-input></ion-input>
    </ion-item> -->

      <!-- Searchbar with a placeholder -->
      <ion-searchbar placeholder="METIER OU POSTE"></ion-searchbar>
    <!-- Searchbar in a Toolbar -->
    <!-- <ion-toolbar>
      <ion-searchbar></ion-searchbar>
    </ion-toolbar> -->

    </ion-list>
</ion-content>
