<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Abonne toi !
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-toolbar>
    <ion-title>Processus d'abonnement</ion-title>
  </ion-toolbar>
<ion-item>
  <ion-label position="floating">Email</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Mot de passe</ion-label>
  <ion-input></ion-input>
</ion-item>

<div id="btn">
  <ion-button expand="block" fill="outline">Valider</ion-button>
</div>

<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>Modalité de paiement</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>200 FCFA / MOIS</ion-label>
      <ion-radio slot="start" value="biff" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>600 FCFA / 6 MOIS</ion-label>
      <ion-radio slot="start" value="griff"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>1000 FCFA /  AN</ion-label>
      <ion-radio slot="start" value="buford"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>



</ion-content>
